.indicator {
	position: absolute;
	left: 0%;
	width: 2px;
	height: 100%;
	background-color: #222222;
}
.elapsed_part {
	position: absolute;
	opacity: 0.7;
	height: 100%;
	width: 0%;
	background-color: #cccccc;
}
.progress {
	position: relative;
	height: 30px !important;
	margin: 40px 0px 40px 0px;
}
.progress-bar {
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}
#wrong_time_warning,
#wrong_mod_time_warning {
	display: none;
}
#pr_elapsed_time {
	display: none;
}
#time_counter {
	height: 35px;
	margin-bottom: 5px;
}
a#mod_tooltip:link,
a#mod_tooltip:visited,
a#mod_tooltip:hover,
a#mod_tooltip:active {
	text-decoration: none;
	color: white;
	cursor: default;
}
.jumbotron {
	padding: 20px;
}
/* Remove the top border when a table is missing the header */
.table > tbody > tr:first-child > td {
    border: none;
}
/* Include the border when there's a header */
.table > thead + tbody > tr:first-child > td {
    border-top: 1px solid #ddd;
}
.mod_label,
.topic_label {
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	vertical-align: bottom;
	height: 20px;
}
#pr_labels,
#mod_labels {
	margin-top: 15px;
}
#mod_progress {
	margin-top: 65px;
}