#main_container {
	padding: 0 20px 0 20px;
}
.container {
	padding: 0;
}
.alert {
	margin-top: 20px;
}
select:focus{
    border-color: gray !important;
    outline: none;
	box-shadow: 0 0 2px gray !important;
}
#lang_select {
	margin-top: 20px;
}
#mod_container {
	padding: 20px;
	border-radius: 5px;
	background-color: #eee;
}
#module_arrow {
	position: relative;
	content: ' ';
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-bottom-color: #eee;
	margin-top: -20px;
	transition: all 1s ease;
}
.indicator {
	position: absolute;
	display: none;
	left: 0%;
	width: 2px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 5px 2px #fff;
	z-index: 1;
	margin-left: -2px;
}
.elapsed_part {
	position: absolute;
	opacity: 0.7;
	height: 100%;
	width: 0%;
	background-color: #cccccc;
}
.progress {
	position: relative;
	height: 30px !important;
	margin: 40px 0px 0px 0px;
}
.progress-bar {
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}
#wrong_time_warning,
#wrong_mod_time_warning {
	display: none;
}
#pr_elapsed_time {
	display: none;
}
#time_counter {
	height: 35px;
	margin-bottom: 5px;
}
.jumbotron {
	padding: 20px;
}
/* Remove the top border when a table is missing the header */
.table > tbody > tr:first-child > td {
    border: none;
}
/* Include the border when there's a header */
.table > thead + tbody > tr:first-child > td {
    border-top: 1px solid #ddd;
}
.table-responsive {
	border: 0;
}
.pr_label {
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	vertical-align: bottom;
	height: 20px;
}
#pr_labels {
	margin-top: 15px;
}
#mod_progress {
	margin-top: 25px;
}